.container {
    display: flex;
    flex-wrap: wrap; /* Permite que as caixas quebrem para a próxima linha */
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Espaço acima das caixas */
}

.caixas_ajudar {
    width: 200px;
    height: 200px;
    background-color: #f80505;
    border: 1px solid #000000;
    margin: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    .botao_ajudar{
        width: auto;
        cursor: pointer;
    }