@import url("base.css");

main{
    background-color: var(--amarelo);
}

.container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
    margin-top: 20px; 
    
}

.caixas_ajudar {
    width: 686px;
    height: 800px;
    background-color: #005FCF;
    border-radius: 25px;
    margin: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    .botao_ajudar{
        display: block; 
        margin-top: 10px;
        border-radius: 5px; 
        background-color: #4caf50;
        color: #FFFFFF;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
    }

    button:hover {
        background-color: #DDE211;
      }

      .imagem {
        width: 100%;
        border-top-left-radius: 10px; 
        border-top-right-radius: 10px;}