@import url("base.css");

body{
    background-color: var(--amarelo);
}

main{
    display: grid;
    grid-template-columns: repeat(1);
    gap: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    max-width: 1200px;
    padding: 0px 8px 0px 8px;
    margin-bottom: 50px;
}

.container {
    background-color: var(--azul);
    border-radius: 25px;
    width: 500px;
    height: 600px;
    box-shadow: var(--shadow);
}

.img-container img{
    width: 500px;
    height: 385px;
    object-fit: cover;
    border-radius: 25px 25px 0px 0px;
}

.textos{
    display: block;
    align-items: center;
    width: 500px;
    padding: 30px;
    color: var(--branco);
}

.textos h2{
    font-weight: bold;
    margin-bottom: 20px;
}

.textos p{
    font-weight: 500;
    margin-bottom: 20px;
}

.textos button{
    background-color: var(--amarelo);
    padding: 10px 25px 10px 25px;
    border-radius: 5px;
    box-shadow: var(--shadow);
    cursor: pointer;
    transition: 200ms;
}

.textos button:hover{
    transform: scale(1.05);
}

.titulo-ajudar{
    margin-top: 20px;
    text-align: center;
}

@media (min-width: 1440px){
    main{
        grid-template-columns: repeat(2, minmax(0, 2fr));
    }
}