@import url(base.css);

main{
    background-color: var(--amarelo);
}

.textos-inicio{
    text-align: center;
    margin-top: 50px;
}

.textos-inicio h1{
}

.textos-inicio p{
    
}

.bg-form{
    background-color: var(--branco);
    width: 930px;
    padding: 50px;
    border-radius: 25px;
    box-shadow: var(--shadow);
}

.container-form{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    gap: 100px;
    margin-bottom: 5%;
}

.texto-form{
    text-align: center;
}

.texto-form-2{
    text-align: center;
    margin-top: 50px;
}

.form{
    display: grid;
    grid-template-columns: repeat(1);
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    max-width: 1200px;
    padding: 0px 8px 0px 8px;
    margin-bottom: 50px;
}

.form input{
    padding: 10px;
    border-radius: 20px;
    border: solid 1px rgba(0, 0, 0, 0.408);
}

form button{
    padding: 10px 25px 10px 25px;
    border-radius: 5px;
    margin-left: 10px;
    background-color: #18A0FB;
    color: var(--branco);
    cursor: pointer; 
}

.bg-loader{
    position: fixed;
    z-index: 20;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    visibility: hidden;
}

.centraliza{
    background-color: var(--azul);
    border-radius: 100px;
    box-shadow: var(--shadow);
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 100px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 10px solid var(--amarelo);
    animation:
      l20-1 0.8s infinite linear alternate,
      l20-2 1.6s infinite linear;
  }
  @keyframes l20-1{
     0%    {clip-path: polygon(50% 50%,0       0,  50%   0%,  50%    0%, 50%    0%, 50%    0%, 50%    0% )}
     12.5% {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100%   0%, 100%   0%, 100%   0% )}
     25%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 100% 100%, 100% 100% )}
     50%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
     62.5% {clip-path: polygon(50% 50%,100%    0, 100%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
     75%   {clip-path: polygon(50% 50%,100% 100%, 100% 100%,  100% 100%, 100% 100%, 50%  100%, 0%   100% )}
     100%  {clip-path: polygon(50% 50%,50%  100%,  50% 100%,   50% 100%,  50% 100%, 50%  100%, 0%   100% )}
  }
  @keyframes l20-2{ 
    0%    {transform:scaleY(1)  rotate(0deg)}
    49.99%{transform:scaleY(1)  rotate(135deg)}
    50%   {transform:scaleY(-1) rotate(0deg)}
    100%  {transform:scaleY(-1) rotate(-135deg)}
  }

@media (min-width: 768px){
    .form{
        grid-template-columns: repeat(2, minmax(0, 2fr));
    }
}
