@import url(base.css);

body {
    margin: 0;
    padding: 0;
}

.amarelo {
    background-color: #F5E80E;

    width: 100%;
    height: 100%;

    display: inline-block;
    text-align: center;
    
}

.branco {
    background-color: #ffffff;
}

.azul {
    background-color: #007FFC;
}

h1 {
    margin: 5px;
    padding: 50px;
}

/* Logo ong / como doar (sessão 1) */

a {
    color: black;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

#logovf {

    margin-top: 200px;
    height: 250px;

}

.textologo {
    font-size: 35px;

}

.fdtexto {

    background-color: #007FFC ;
    text-align: center;
    border-radius: 5px;
    border: solid 2px rgba(0, 0, 0, 0.075);
    width: 100px;
    margin: 10px;
    margin-bottom: 100px;
}

/* Logo ong / como doar (sessão 1 fim) */

/* Ações */
.saude {
    background-color: #e2111180;
    display: inline-block;
    width: 450px;
    margin: 15px;
    border-radius: 20px;
    border: solid 2px black;

}

.educacao {
    background-color: #005fcf80;
    display: inline-block;
    width: 450px;
    margin: 15px;
    border-radius: 20px;
    border: solid 2px black;

}

.lazer {
    background-color: #dde21180;
    display: inline-block;
    width: 450px;
    margin: 15px;
    border-radius: 20px;
    border: solid 2px black;
    
}

.alimentacao {
    background-color: #06601f4d;
    display: inline-block;
    width: 450px;
    margin: 15px;
    border-radius: 20px;
    border: solid 2px black;

}

.tituloacoes {
    padding: 20px;
    text-align: left;
}

.textoacoes {
    padding: 20px;
}

.smacoes {

    background-color: #F5E80E ;
    text-align: center;
    border-radius: 5px;
    border: solid 2px black;
    width: 80px;
    margin: 10px;
}

/* Ações (fim) */

/* acontecimentos */

.imgacont {
    width: 500px;
}

.acont {
    display: inline-block;
    width: 600px;
    padding: 20px;
    
}

.tituloacont {
    color: #F5E80E ;
    
}

/* acontecimentos (fim) */

/* Blog */

.bltexto {
    font-size: 25px;
    width: 800px;
    margin-left: 50px;

}

.blocoaz {
    background-color: #007FFC;
    display: inline-block;
    border-radius: 20px;
    width: 250px;
    margin-left: 50px;
    

}

.blocoama {
    background-color: #F5E80E;
    display: inline-block;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 250px;
    

}

.blocotitulo {
    margin: 20px;

}

.blocotxt {
    margin: 20px;

}

/* Blog (fim) */

/* Depoimentos */

.depesp {
    margin: 25px;
}

.deplm {
    color: #007FFC;
}

.depu {
    display: inline-block;
    width: 400px;
    margin: 15px;
    

}

.depd {
    display: inline-block;
    width: 400px;
    margin: 15px;

}

.dept {
    display: inline-block;
    width: 400px;
    margin: 15px;

}

/* Depoimentos (fim) */