@import url(base.css);

main{
    background-color: var(--amarelo);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 20px 0px 20px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--azul);
    padding: 50px 50px;
    border-radius: 25px;
    gap: 20px;
}

.container h1{
    font-weight: bold;
    color: var(--branco);
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

form input{
    padding: 10px 30px 10px 30px;
    border: 2px solid var(--amarelo);
    border-radius: 15px;
}

.container button{
    background-color: var(--amarelo);
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    color: var(--azul);
    transition: 200ms;
    cursor: pointer;
}

.container button:hover{
    transform: scale(1.1);
}