@import url(base.css);

body {
    background-color: #FEED01;

}

.espacform {
    margin-bottom: 50px;
    color: #FEED01;
}

#fundof {
    display: inline-block;
    margin: auto;
    padding: 20px;
    background-color: rgb(247, 247, 247);
    border-radius: 20px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.30);

}

.textonec {
    text-align: center;
    margin-bottom: 15px;
}

form input {
    margin-bottom: 5px;
    padding: 5px;
    width: 300px;
    border: 1px solid silver;
    border-radius: 20px;
}

.titulorespon {
    margin-top: 20px;
}


button{
    background-color: #005FCF;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    transition: 200ms;
    cursor: pointer;
    box-shadow: var(--shadow);
}

button:hover{
    transform: scale(1.1);
}

footer {
    background-color: white;
}

#copyright {
    background-color: white;
}