@import url(base.css);

main{
    background-color: var(--amarelo);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px 40px 20px;
}

body {
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1000px;
    display: flex;
    gap: 30px;
}

.text-sobre{
    text-align: justify;
}

.content {
    max-width: 1000px; 
    width: 100%;
    margin: 1 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.about {
    flex: 2; 
    padding: 1px;
    max-width: 600px; 
}
.about h2 {
    font-size: 48px;
    margin-bottom: 5px;
}
.about p {
    font-size: 18px;
    line-height: 1.1;
}
.about-texto{
    margin-bottom: 10px;
}
.image{
    display: flex;
    align-items: center;
    justify-content: center;

}
#texto-corpo{
    margin-bottom: 10px;
    margin-top: 20px;
}
#texto-final{
    margin-top: 30px;
}
.image img {
    width: 400px; /* Ajuste para que a imagem seja responsiva */
    height: 500px;
    display: block;
    border-radius: 5px;
}
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .about, .image {
    }
}

